<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <%= link_to 'オンラインヨガクラス予約システム', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'カレンダー', calendar_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'クラス一覧', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'マイページ', mypage_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="d-flex">
        <% if user_signed_in? %>
          <span class="navbar-text me-3">
            ようこそ、<%= current_user.username %>さん
          </span>
          <%= button_to 'ログアウト', destroy_user_session_path, 
              method: :delete, 
              data: { confirm: 'ログアウトしますか？' }, 
              class: "btn btn-outline-danger" %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary me-2" %>
          <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>